.language-switcher {
  align-items: centers;
  position: relative;
  text-align: center;
  vertical-align: middle;

  &-icon {
    cursor: pointer;
    position: relative;
    transform: rotate(-180deg);
    transition: transform 0.6s;

    &-toggled {
      transform: rotate(180deg);
      transition: transform 0.6s;
    }
  }

  &:before {
    background-color: rgba(0, 0, 0, 0.1);
    clear: both;
    content: '';
    display: block;
    height: 2px;
    left: -260px;
    position: absolute;
    top: 18px;
    width: 255px;
  }

  &:after {
    background-color: rgba(0, 0, 0, 0.1);
    clear: both;
    content: '';
    display: block;
    height: 2px;
    left: 41px;
    position: absolute;
    top: 18px;
    width: 100vw;
  }
}
